/* 
red: #bb1233
button shadow: #420108
specials:#2160b0
operator: #3DB5E5
number: #113c78 
display: #2e2e2e
*/

.container {
  width: 15%;
  background-color: #bb1233;
  margin: auto;
  border-radius: 10px;
}

.logo {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

/* .App {
} */

.output {
  background-color: #2e2e2e;
  border-radius: 15px;
  text-align: right;
  padding: 5px 12px;
  width: 80%;
  margin: auto;
  font-size: 2rem;
}

.output-text {
  color: white;
}

.btn-container {
  display: flex;
}

.btn-separator {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.btn-separator2 {
  display: flex;
}

.operator-container {
  display: flex;
  flex-flow: column nowrap;
}

.specials-container {
  flex-flow: row nowrap;
}

.number-container {
  flex-flow: row wrap;
}

.number-container :nth-child(10) {
  width: 120px;
}

.buttonStyleNumbers {
  background-color: #144385;
  border-radius: 50px;
  border-style: none;
  color: white;
  margin: 10px;
  padding: 10px 15px;
  width: 50px;
  font-size: 1.5rem;
  box-shadow: 0 4px 2px -2px #420108;
}

.buttonStyleSpecials {
  background-color: #225392;
  border-radius: 50px;
  border-style: none;
  color: white;
  margin: 10px;
  padding: 10px 15px;
  width: 50px;
  font-size: 1.5rem;
  box-shadow: 0 4px 2px -2px #420108;
}

.buttonStyleOperators {
  background-color: #346f86;
  border-radius: 50px;
  border-style: none;
  color: white;
  margin: 10px;
  margin-right: 15px;
  padding: 10px 15px;
  width: 50px;
  font-size: 1.5rem;
  box-shadow: 0 4px 2px -2px #420108;
}
